extends base.pug

block content
  .container
    section.section
      h1.title Hello, World!
      h2.subtitle Thanks, Bulma.
      .columns
        .column test
        .column column 2
        .column column 3
